In [1]:
import pandas as pd

In [2]:
df=pd.read_excel(r'C:\Users\user\Documents\sportsref_download.xlsx')

In [3]:
type(df)

pandas.core.frame.DataFrame

In [4]:
df

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Quincy Acy,PF,24,NYK,68,22,1287,152,331,...,0.784,79,222,301,68,27,22,60,147,398
1,2,Jordan Adams,SG,20,MEM,30,0,248,35,86,...,0.609,9,19,28,16,16,7,14,24,94
2,3,Steven Adams,C,21,OKC,70,67,1771,217,399,...,0.502,199,324,523,66,38,86,99,222,537
3,4,Jeff Adrien,PF,28,MIN,17,0,215,19,44,...,0.579,23,54,77,15,4,9,9,30,60
4,5,Arron Afflalo,SG,29,TOT,78,72,2502,375,884,...,0.843,27,220,247,129,41,7,116,167,1035
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,387,Brian Roberts,PG,29,CHO,72,10,1330,176,452,...,0.892,13,96,109,162,33,6,57,75,480
496,388,Glenn Robinson III,SG-SF,21,TOT,35,1,261,26,67,...,0.667,15,24,39,11,6,1,11,15,73
497,388,Glenn Robinson III,SG,21,MIN,25,0,108,8,24,...,0.750,4,10,14,3,3,0,3,5,29
498,388,Glenn Robinson III,SF,21,PHI,10,1,153,18,43,...,0.500,11,14,25,8,3,1,8,10,44
499,389,Nate Robinson,PG,30,TOT,42,1,591,88,255,...,0.674,17,33,50,97,20,3,30,76,238

In [8]:
c=pd.read_excel(r'C:\Users\user\Documents\lala.xlsx', header=None ,names=['A','b','d'] )

In [9]:
c

        A      b   d
0    sdsd    fgf NaN
1     dsf  dffdf NaN
2  fdffdf    dfs NaN
3  fdffdf     df NaN
4      df     df NaN
5      df     df NaN

In [7]:
df

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Quincy Acy,PF,24,NYK,68,22,1287,152,331,...,0.784,79,222,301,68,27,22,60,147,398
1,2,Jordan Adams,SG,20,MEM,30,0,248,35,86,...,0.609,9,19,28,16,16,7,14,24,94
2,3,Steven Adams,C,21,OKC,70,67,1771,217,399,...,0.502,199,324,523,66,38,86,99,222,537
3,4,Jeff Adrien,PF,28,MIN,17,0,215,19,44,...,0.579,23,54,77,15,4,9,9,30,60
4,5,Arron Afflalo,SG,29,TOT,78,72,2502,375,884,...,0.843,27,220,247,129,41,7,116,167,1035
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,387,Brian Roberts,PG,29,CHO,72,10,1330,176,452,...,0.892,13,96,109,162,33,6,57,75,480
496,388,Glenn Robinson III,SG-SF,21,TOT,35,1,261,26,67,...,0.667,15,24,39,11,6,1,11,15,73
497,388,Glenn Robinson III,SG,21,MIN,25,0,108,8,24,...,0.750,4,10,14,3,3,0,3,5,29
498,388,Glenn Robinson III,SF,21,PHI,10,1,153,18,43,...,0.500,11,14,25,8,3,1,8,10,44
499,389,Nate Robinson,PG,30,TOT,42,1,591,88,255,...,0.674,17,33,50,97,20,3,30,76,238

In [8]:
df.head(7)

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Quincy Acy,PF,24,NYK,68,22,1287,152,331,...,0.784,79,222,301,68,27,22,60,147,398
1,2,Jordan Adams,SG,20,MEM,30,0,248,35,86,...,0.609,9,19,28,16,16,7,14,24,94
2,3,Steven Adams,C,21,OKC,70,67,1771,217,399,...,0.502,199,324,523,66,38,86,99,222,537
3,4,Jeff Adrien,PF,28,MIN,17,0,215,19,44,...,0.579,23,54,77,15,4,9,9,30,60
4,5,Arron Afflalo,SG,29,TOT,78,72,2502,375,884,...,0.843,27,220,247,129,41,7,116,167,1035
5,5,Arron Afflalo,SG,29,DEN,53,53,1750,281,657,...,0.841,21,159,180,101,32,5,83,108,771
6,5,Arron Afflalo,SG,29,POR,25,19,752,94,227,...,0.851,6,61,67,28,9,2,33,59,264

In [9]:
df.tail(7)

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
493,385,Austin Rivers,PG,22,LAC,41,2,791,117,274,...,0.582,15,69,84,68,30,7,35,81,291
494,386,Andre Roberson,SG,23,OKC,67,65,1286,92,201,...,0.479,60,195,255,70,53,29,46,141,228
495,387,Brian Roberts,PG,29,CHO,72,10,1330,176,452,...,0.892,13,96,109,162,33,6,57,75,480
496,388,Glenn Robinson III,SG-SF,21,TOT,35,1,261,26,67,...,0.667,15,24,39,11,6,1,11,15,73
497,388,Glenn Robinson III,SG,21,MIN,25,0,108,8,24,...,0.750,4,10,14,3,3,0,3,5,29
498,388,Glenn Robinson III,SF,21,PHI,10,1,153,18,43,...,0.500,11,14,25,8,3,1,8,10,44
499,389,Nate Robinson,PG,30,TOT,42,1,591,88,255,...,0.674,17,33,50,97,20,3,30,76,238

In [10]:
a=pd.read_csv('https://raw.githubusercontent.com/sudh9931/data/main/haberman.csv')

In [11]:
type(a)

pandas.core.frame.DataFrame

In [12]:
js=pd.read_json('https://api.github.com/repos/pandas-dev/pandas/issues')

In [13]:
js.columns

Index(['url', 'repository_url', 'labels_url', 'comments_url', 'events_url',
       'html_url', 'id', 'node_id', 'number', 'title', 'user', 'labels',
       'state', 'locked', 'assignee', 'assignees', 'milestone', 'comments',
       'created_at', 'updated_at', 'closed_at', 'author_association',
       'active_lock_reason', 'body', 'reactions', 'timeline_url',
       'performed_via_github_app', 'state_reason', 'draft', 'pull_request'],
      dtype='object')

In [14]:
js['user'][0]

{'login': 'pepelovesvim',
 'id': 26889541,
 'node_id': 'MDQ6VXNlcjI2ODg5NTQx',
 'avatar_url': 'https://avatars.githubusercontent.com/u/26889541?v=4',
 'gravatar_id': '',
 'url': 'https://api.github.com/users/pepelovesvim',
 'html_url': 'https://github.com/pepelovesvim',
 'followers_url': 'https://api.github.com/users/pepelovesvim/followers',
 'following_url': 'https://api.github.com/users/pepelovesvim/following{/other_user}',
 'gists_url': 'https://api.github.com/users/pepelovesvim/gists{/gist_id}',
 'starred_url': 'https://api.github.com/users/pepelovesvim/starred{/owner}{/repo}',
 'subscriptions_url': 'https://api.github.com/users/pepelovesvim/subscriptions',
 'organizations_url': 'https://api.github.com/users/pepelovesvim/orgs',
 'repos_url': 'https://api.github.com/users/pepelovesvim/repos',
 'events_url': 'https://api.github.com/users/pepelovesvim/events{/privacy}',
 'received_events_url': 'https://api.github.com/users/pepelovesvim/received_events',
 'type': 'User',
 'site_admin': False}

In [15]:
df.to_json('lala.json')

In [16]:
pwd

'C:\\Users\\user'

In [17]:
js['state']

0     open
1     open
2     open
3     open
4     open
5     open
6     open
7     open
8     open
9     open
10    open
11    open
12    open
13    open
14    open
15    open
16    open
17    open
18    open
19    open
20    open
21    open
22    open
23    open
24    open
25    open
26    open
27    open
28    open
29    open
Name: state, dtype: object

In [18]:
js.dtypes

url                                      object
repository_url                           object
labels_url                               object
comments_url                             object
events_url                               object
html_url                                 object
id                                        int64
node_id                                  object
number                                    int64
title                                    object
user                                     object
labels                                   object
state                                    object
locked                                     bool
assignee                                 object
assignees                                object
milestone                                object
comments                                  int64
created_at                  datetime64[ns, UTC]
updated_at                  datetime64[ns, UTC]
closed_at                        datetime64[ns]
author_association                       object
active_lock_reason                      float64
body                                     object
reactions                                object
timeline_url                             object
performed_via_github_app                float64
state_reason                            float64
draft                                   float64
pull_request                             object
dtype: object

In [12]:
c[['A','b']]

        A      b
0    sdsd    fgf
1     dsf  dffdf
2  fdffdf    dfs
3  fdffdf     df
4      df     df
5      df     df

In [20]:
type(js['state'])

pandas.core.series.Series

In [21]:
type([['state']])

list

In [22]:
js.dtypes == 'object'

url                          True
repository_url               True
labels_url                   True
comments_url                 True
events_url                   True
html_url                     True
id                          False
node_id                      True
number                      False
title                        True
user                         True
labels                       True
state                        True
locked                      False
assignee                     True
assignees                    True
milestone                    True
comments                    False
created_at                  False
updated_at                  False
closed_at                   False
author_association           True
active_lock_reason          False
body                         True
reactions                    True
timeline_url                 True
performed_via_github_app    False
state_reason                False
draft                       False
pull_request                 True
dtype: bool

In [23]:
js.dtypes[js.dtypes=='object']

url                   object
repository_url        object
labels_url            object
comments_url          object
events_url            object
html_url              object
node_id               object
title                 object
user                  object
labels                object
state                 object
assignee              object
assignees             object
milestone             object
author_association    object
body                  object
reactions             object
timeline_url          object
pull_request          object
dtype: object

In [24]:
js[js.dtypes[js.dtypes=='object'].index].describe()

,url,repository_url,labels_url,comments_url,events_url,html_url,node_id,title,user,labels,state,assignee,assignees,milestone,author_association,body,reactions,timeline_url,pull_request
count,30,30,30,30,30,30,30,30,30,30,30,1,30,5,30,30,30,30,15
unique,30,1,30,30,30,30,30,30,20,24,1,1,2,2,3,30,30,30,15
top,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/48068,I_kwDOAA0YD85Pvqni,Adding obvious type hints to pandas,"{'login': 'mroeschke', 'id': 10647082, 'node_i...",[],open,"{'login': 'jmoro0408', 'id': 66977019, 'node_i...",[],{'url': 'https://api.github.com/repos/pandas-d...,NONE,For us that uses static type checkers religiou...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,{'url': 'https://api.github.com/repos/pandas-d...
freq,1,30,1,1,1,1,1,1,3,3,30,1,29,3,15,1,1,1,1

In [25]:
js.describe()

,id,number,comments,active_lock_reason,performed_via_github_app,state_reason,draft
count,3.000000e+01,30.000000,30.000000,0.0,0.0,0.0,15.0
mean,1.336661e+09,48049.233333,2.166667,NaN,NaN,NaN,0.0
std,8.670130e+05,13.029630,3.040909,NaN,NaN,NaN,0.0
min,1.335201e+09,48027.000000,0.000000,NaN,NaN,NaN,0.0
25%,1.336069e+09,48038.250000,0.000000,NaN,NaN,NaN,0.0
50%,1.336579e+09,48050.500000,1.000000,NaN,NaN,NaN,0.0
75%,1.337492e+09,48060.750000,3.000000,NaN,NaN,NaN,0.0
max,1.337895e+09,48068.000000,15.000000,NaN,NaN,NaN,0.0

In [26]:
js[js.dtypes[js.dtypes=='float64'].index].describe()

       active_lock_reason  performed_via_github_app  state_reason  draft
count                 0.0                       0.0           0.0   15.0
mean                  NaN                       NaN           NaN    0.0
std                   NaN                       NaN           NaN    0.0
min                   NaN                       NaN           NaN    0.0
25%                   NaN                       NaN           NaN    0.0
50%                   NaN                       NaN           NaN    0.0
75%                   NaN                       NaN           NaN    0.0
max                   NaN                       NaN           NaN    0.0

In [27]:
js['id'][1:6:2]

1    1337810498
3    1337622557
5    1337572051
Name: id, dtype: int64

In [28]:
js['name']='lala'

In [29]:
js

,url,repository_url,labels_url,comments_url,events_url,html_url,id,node_id,number,title,...,author_association,active_lock_reason,body,reactions,timeline_url,performed_via_github_app,state_reason,draft,pull_request,name
0,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/48068,1337895394,I_kwDOAA0YD85Pvqni,48068,Adding obvious type hints to pandas,...,NONE,NaN,For us that uses static type checkers religiou...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN,NaN,lala
1,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/48067,1337810498,PR_kwDOAA0YD849H3_e,48067,TST: Check index when grouping all columns of ...,...,CONTRIBUTOR,NaN,- [x] closes #32464\r\n- [x] [Tests added and ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,lala
2,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/48066,1337754311,PR_kwDOAA0YD849HsCV,48066,CI: Avoid flaky build errors & show installed ...,...,MEMBER,NaN,xref #47305 & https://github.com/pandas-dev/pa...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,lala
3,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/48065,1337622557,PR_kwDOAA0YD849HQqh,48065,CI/DEPS: Fix timezone test due to pytz upgrade,...,MEMBER,NaN,- [x] [Tests added and passed](https://pandas....,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,lala
4,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/48064,1337620886,PR_kwDOAA0YD849HQTB,48064,BUG: Groupby cumprod nan influences other colu...,...,MEMBER,NaN,- [ ] closes #xxxx (Replace xxxx with the Gith...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,lala
5,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/48063,1337572051,PR_kwDOAA0YD849HFbB,48063,fixed docstring error with pandas.Series.plot....,...,NONE,NaN,When you run python `./scripts/validate_docstr...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,lala
6,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/48062,1337530690,PR_kwDOAA0YD849G8pe,48062,REF: make copy keyword non-stateful,...,MEMBER,NaN,- [ ] closes #xxxx (Replace xxxx with the Gith...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,lala
7,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/48061,1337518944,I_kwDOAA0YD85PuOtg,48061,STYLE: upgrade flake8,...,MEMBER,NaN,Issue here is:\r\n1. checkout the `create-pr-a...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN,NaN,lala
8,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/48060,1337411497,I_kwDOAA0YD85Pt0ep,48060,"DOC: ""Creating a Python environment"" in ""Creat...",...,NONE,NaN,### Pandas version checks\r\n\r\n- [X] I have ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN,NaN,lala
9,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/48058,1337297494,PR_kwDOAA0YD849GKle,48058,REGR: fix reset_index (Index.insert) regressio...,...,MEMBER,NaN,- [x] closes #47071\r\n- [x] [Tests added and ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,lala
10,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/48057,1337202881,PR_kwDOAA0YD849F2qL,48057,REGR: fix regression in scalar setitem with se...,...,MEMBER,NaN,- [x] closes #46268\r\n- [x] [Tests added and ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,lala
11,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/48056,1337153682,I_kwDOAA0YD85Ps1iS,48056,BUG: Rolling operations on groupby with apply ...,...,NONE,NaN,### Pandas version checks\r\n\r\n- [X] I have ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN,NaN,lala
12,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/48055,1337049837,PR_kwDOAA0YD849FVb2,48055,"Fixed docstring error with style.py, unknown p...",...,NONE,NaN,When you run python` ./scripts/validate_docstr...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,lala
13,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/48052,1336615868,I_kwDOAA0YD85PqyO8,48052,BUG: Weird Behavior of astype(bool) for np.nan,...,NONE,NaN,### Pandas version checks\n\n- [X] I have chec...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN,NaN,lala
14,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/48051,1336597202,PR_kwDOAA0YD849D1fa,48051,REF: dont alter self in _validate_specification,...,MEMBER,NaN,"Besides being better-practice, this will make ...",{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,lala
15,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/48050,1336561687,PR_kwDOAA0YD849Dt3t,48050,ENH: allow user to infer SAS file encoding; ad...,...,NONE,NaN,- [x] closes #48048 (Replace xxxx with the Git...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,lala
16,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/48049,1336561348,I_kwDOAA0YD85Pqk7E,48049,ENH: Deny/permit configuration for read_pickle...,...,NONE,NaN,### Feature Type\n\n- [X] Adding new functiona...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN,NaN,lala
17,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/48048,1336561147,I_kwDOAA0YD85Pqk37,48048,ENH: Add option to `read_sas` to infer encodin...,...,NONE,NaN,### Feature Type\r\n\r\n- [X] Adding new funct...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN,NaN,lala
18,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/48046,1336517413,I_kwDOAA0YD85PqaMl,48046,CI: setuptools 64.0.0 breaks our builds,...,MEMBER,NaN,This is one of the failing builds:\r\n\r\nhttp...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN,NaN,lala
19,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/48042,1336470117,PR_kwDOAA0YD849DaTk,48042,TST: GH39984 Addition to tests,...,CONTRIBUTOR,NaN,- [x] closes #39984 (Replace xxxx with the Git...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,lala
20,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/48041,1336388945,PR_kwDOAA0YD849DJbw,48041,CI: Include FutureWarning from numpy in npdev ...,...,MEMBER,NaN,- [ ] [Tests added and passed](https://pandas....,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,lala
21,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/48039,1336263864,I_kwDOAA0YD85PpcS4,48039,Unclear error statement printed when `python ....,...,NONE,NaN,When I run `python ./scripts/validate_docstrin...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN,NaN,lala
22,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/48038,1336003792,I_kwDOAA0YD85PoczQ,48038,ENH: Improve styling compatibility with Latex,...,NONE,NaN,### Feature Type\n\n- [X] Adding new functiona...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN,NaN,lala
23,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/48035,1335691411,I_kwDOAA0YD85PnQiT,48035,"DOC: ""Committing your code"" in ""Contributing t...",...,NONE,NaN,### Pandas version checks\n\n- [X] I have chec...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN,NaN,lala
24,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/48034,1335543885,I_kwDOAA0YD85PmshN,48034,BUG: `Series.replace` converts `np.nan` into `...,...,NONE,NaN,### Pandas version checks\r\n\r\n- [X] I have ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN,NaN,lala
25,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/48033,1335523502,PR_kwDOAA0YD849ARll,48033,ENH: raise_assert_detail only shows the differ...,...,NONE,NaN,- [x] closes #47910 \r\n- [x] [Tests added and...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,lala
26,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/48032,1335375469,I_kwDOAA0YD85PmDZt,48032,BUG: Union of multi index with EA types can lo...,...,CONTRIBUTOR,NaN,### Pandas version checks\r\n\r\n- [X] I have ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN,NaN,lala
27,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/48030,1335301660,I_kwDOAA0YD85PlxYc,48030,ENH: Add rolling.prod(),...,NONE,NaN,### Feature Type\n\n- [ ] Adding new functiona...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN,NaN,lala
28,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/48028,1335224577,I_kwDOAA0YD85PlekB,48028,CLN: Refactor groupby's _make_wrapper,...,MEMBER,NaN,Currently pandas implements various groupby op...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN,NaN,lala
29,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/48027,1335200639,PR_kwDOAA0YD848_OMo,48027,ENH: Support masks in groupby prod,...,MEMBER,NaN,- [x] xref #37493 (Replace xxxx with the Githu...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,lala

In [30]:
js.describe()

,id,number,comments,active_lock_reason,performed_via_github_app,state_reason,draft
count,3.000000e+01,30.000000,30.000000,0.0,0.0,0.0,15.0
mean,1.336661e+09,48049.233333,2.166667,NaN,NaN,NaN,0.0
std,8.670130e+05,13.029630,3.040909,NaN,NaN,NaN,0.0
min,1.335201e+09,48027.000000,0.000000,NaN,NaN,NaN,0.0
25%,1.336069e+09,48038.250000,0.000000,NaN,NaN,NaN,0.0
50%,1.336579e+09,48050.500000,1.000000,NaN,NaN,NaN,0.0
75%,1.337492e+09,48060.750000,3.000000,NaN,NaN,NaN,0.0
max,1.337895e+09,48068.000000,15.000000,NaN,NaN,NaN,0.0

In [31]:
js.columns

Index(['url', 'repository_url', 'labels_url', 'comments_url', 'events_url',
       'html_url', 'id', 'node_id', 'number', 'title', 'user', 'labels',
       'state', 'locked', 'assignee', 'assignees', 'milestone', 'comments',
       'created_at', 'updated_at', 'closed_at', 'author_association',
       'active_lock_reason', 'body', 'reactions', 'timeline_url',
       'performed_via_github_app', 'state_reason', 'draft', 'pull_request',
       'name'],
      dtype='object')

In [32]:
js[js['number']==max(js['number'])]['id']

0    1337895394
Name: id, dtype: int64

In [33]:
df

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Quincy Acy,PF,24,NYK,68,22,1287,152,331,...,0.784,79,222,301,68,27,22,60,147,398
1,2,Jordan Adams,SG,20,MEM,30,0,248,35,86,...,0.609,9,19,28,16,16,7,14,24,94
2,3,Steven Adams,C,21,OKC,70,67,1771,217,399,...,0.502,199,324,523,66,38,86,99,222,537
3,4,Jeff Adrien,PF,28,MIN,17,0,215,19,44,...,0.579,23,54,77,15,4,9,9,30,60
4,5,Arron Afflalo,SG,29,TOT,78,72,2502,375,884,...,0.843,27,220,247,129,41,7,116,167,1035
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,387,Brian Roberts,PG,29,CHO,72,10,1330,176,452,...,0.892,13,96,109,162,33,6,57,75,480
496,388,Glenn Robinson III,SG-SF,21,TOT,35,1,261,26,67,...,0.667,15,24,39,11,6,1,11,15,73
497,388,Glenn Robinson III,SG,21,MIN,25,0,108,8,24,...,0.750,4,10,14,3,3,0,3,5,29
498,388,Glenn Robinson III,SF,21,PHI,10,1,153,18,43,...,0.500,11,14,25,8,3,1,8,10,44
499,389,Nate Robinson,PG,30,TOT,42,1,591,88,255,...,0.674,17,33,50,97,20,3,30,76,238

In [34]:
len(df['Age']==21)

500

In [35]:
df[df['Age']==21]['Player']

2                  Steven Adams
19                Kyle Anderson
48                 Bradley Beal
52              Anthony Bennett
94     Kentavious Caldwell-Pope
147               Anthony Davis
160           Spencer Dinwiddie
171              Andre Drummond
253            Maurice Harkless
301               Grant Jerrett
302               Grant Jerrett
303               Grant Jerrett
322              Sergey Karasev
324      Michael Kidd-Gilchrist
346                    Alex Len
374              K.J. McDaniels
375              K.J. McDaniels
376              K.J. McDaniels
382                Ben McLemore
435             Johnny O'Bryant
464             Otto Porter Jr.
496          Glenn Robinson III
497          Glenn Robinson III
498          Glenn Robinson III
Name: Player, dtype: object

In [36]:
df[(df['Age'] > 30) & (df['G'] > 20)]

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
12,11,Tony Allen,SG,33,MEM,63,41,1648,225,455,...,0.627,103,177,280,86,129,30,86,166,539
14,13,Lou Amundson,PF,32,TOT,53,35,937,109,255,...,0.471,94,174,268,70,22,52,62,126,259
16,13,Lou Amundson,PF,32,NYK,41,35,858,105,243,...,0.463,89,159,248,65,21,52,57,115,248
17,14,Chris Andersen,C,36,MIA,60,20,1132,120,207,...,0.667,76,223,299,43,26,61,40,88,320
18,15,Alan Anderson,SG,32,BRK,74,19,1744,195,440,...,0.812,31,173,204,83,56,5,60,148,545
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
478,376,Tayshaun Prince,SF,34,MEM,26,9,628,75,183,...,0.833,21,62,83,37,9,6,15,22,190
480,376,Tayshaun Prince,SF,34,DET,23,7,571,69,160,...,0.655,25,72,97,38,15,8,16,26,168
483,379,Shavlik Randolph,PF,31,TOT,21,0,126,9,35,...,0.500,16,22,38,4,5,3,3,16,24
486,380,Zach Randolph,PF,33,MEM,71,71,2304,454,932,...,0.765,225,522,747,153,69,14,156,175,1143
490,384,Luke Ridnour,PG,33,ORL,47,0,683,75,176,...,0.857,8,60,68,96,20,4,38,67,188

In [37]:
df['date']=pd.to_datetime(df['PF'])

In [38]:
df

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,date
0,1,Quincy Acy,PF,24,NYK,68,22,1287,152,331,...,79,222,301,68,27,22,60,147,398,1970-01-01 00:00:00.000000147
1,2,Jordan Adams,SG,20,MEM,30,0,248,35,86,...,9,19,28,16,16,7,14,24,94,1970-01-01 00:00:00.000000024
2,3,Steven Adams,C,21,OKC,70,67,1771,217,399,...,199,324,523,66,38,86,99,222,537,1970-01-01 00:00:00.000000222
3,4,Jeff Adrien,PF,28,MIN,17,0,215,19,44,...,23,54,77,15,4,9,9,30,60,1970-01-01 00:00:00.000000030
4,5,Arron Afflalo,SG,29,TOT,78,72,2502,375,884,...,27,220,247,129,41,7,116,167,1035,1970-01-01 00:00:00.000000167
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,387,Brian Roberts,PG,29,CHO,72,10,1330,176,452,...,13,96,109,162,33,6,57,75,480,1970-01-01 00:00:00.000000075
496,388,Glenn Robinson III,SG-SF,21,TOT,35,1,261,26,67,...,15,24,39,11,6,1,11,15,73,1970-01-01 00:00:00.000000015
497,388,Glenn Robinson III,SG,21,MIN,25,0,108,8,24,...,4,10,14,3,3,0,3,5,29,1970-01-01 00:00:00.000000005
498,388,Glenn Robinson III,SF,21,PHI,10,1,153,18,43,...,11,14,25,8,3,1,8,10,44,1970-01-01 00:00:00.000000010
499,389,Nate Robinson,PG,30,TOT,42,1,591,88,255,...,17,33,50,97,20,3,30,76,238,1970-01-01 00:00:00.000000076

In [39]:
df['year']=df['date'].dt.year

In [40]:
df

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,date,year
0,1,Quincy Acy,PF,24,NYK,68,22,1287,152,331,...,222,301,68,27,22,60,147,398,1970-01-01 00:00:00.000000147,1970
1,2,Jordan Adams,SG,20,MEM,30,0,248,35,86,...,19,28,16,16,7,14,24,94,1970-01-01 00:00:00.000000024,1970
2,3,Steven Adams,C,21,OKC,70,67,1771,217,399,...,324,523,66,38,86,99,222,537,1970-01-01 00:00:00.000000222,1970
3,4,Jeff Adrien,PF,28,MIN,17,0,215,19,44,...,54,77,15,4,9,9,30,60,1970-01-01 00:00:00.000000030,1970
4,5,Arron Afflalo,SG,29,TOT,78,72,2502,375,884,...,220,247,129,41,7,116,167,1035,1970-01-01 00:00:00.000000167,1970
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,387,Brian Roberts,PG,29,CHO,72,10,1330,176,452,...,96,109,162,33,6,57,75,480,1970-01-01 00:00:00.000000075,1970
496,388,Glenn Robinson III,SG-SF,21,TOT,35,1,261,26,67,...,24,39,11,6,1,11,15,73,1970-01-01 00:00:00.000000015,1970
497,388,Glenn Robinson III,SG,21,MIN,25,0,108,8,24,...,10,14,3,3,0,3,5,29,1970-01-01 00:00:00.000000005,1970
498,388,Glenn Robinson III,SF,21,PHI,10,1,153,18,43,...,14,25,8,3,1,8,10,44,1970-01-01 00:00:00.000000010,1970
499,389,Nate Robinson,PG,30,TOT,42,1,591,88,255,...,33,50,97,20,3,30,76,238,1970-01-01 00:00:00.000000076,1970

In [41]:
df[['date','year','Rk','Age']]

                             date  year   Rk  Age
0   1970-01-01 00:00:00.000000147  1970    1   24
1   1970-01-01 00:00:00.000000024  1970    2   20
2   1970-01-01 00:00:00.000000222  1970    3   21
3   1970-01-01 00:00:00.000000030  1970    4   28
4   1970-01-01 00:00:00.000000167  1970    5   29
..                            ...   ...  ...  ...
495 1970-01-01 00:00:00.000000075  1970  387   29
496 1970-01-01 00:00:00.000000015  1970  388   21
497 1970-01-01 00:00:00.000000005  1970  388   21
498 1970-01-01 00:00:00.000000010  1970  388   21
499 1970-01-01 00:00:00.000000076  1970  389   30

[500 rows x 4 columns]

In [42]:
df['Rk'].value_counts()

245    4
376    4
114    4
341    4
373    4
      ..
138    1
137    1
136    1
135    1
389    1
Name: Rk, Length: 389, dtype: int64

In [43]:
df['time'] = df['G'] + df['Rk']

In [44]:
df

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,date,year,time
0,1,Quincy Acy,PF,24,NYK,68,22,1287,152,331,...,301,68,27,22,60,147,398,1970-01-01 00:00:00.000000147,1970,69
1,2,Jordan Adams,SG,20,MEM,30,0,248,35,86,...,28,16,16,7,14,24,94,1970-01-01 00:00:00.000000024,1970,32
2,3,Steven Adams,C,21,OKC,70,67,1771,217,399,...,523,66,38,86,99,222,537,1970-01-01 00:00:00.000000222,1970,73
3,4,Jeff Adrien,PF,28,MIN,17,0,215,19,44,...,77,15,4,9,9,30,60,1970-01-01 00:00:00.000000030,1970,21
4,5,Arron Afflalo,SG,29,TOT,78,72,2502,375,884,...,247,129,41,7,116,167,1035,1970-01-01 00:00:00.000000167,1970,83
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,387,Brian Roberts,PG,29,CHO,72,10,1330,176,452,...,109,162,33,6,57,75,480,1970-01-01 00:00:00.000000075,1970,459
496,388,Glenn Robinson III,SG-SF,21,TOT,35,1,261,26,67,...,39,11,6,1,11,15,73,1970-01-01 00:00:00.000000015,1970,423
497,388,Glenn Robinson III,SG,21,MIN,25,0,108,8,24,...,14,3,3,0,3,5,29,1970-01-01 00:00:00.000000005,1970,413
498,388,Glenn Robinson III,SF,21,PHI,10,1,153,18,43,...,25,8,3,1,8,10,44,1970-01-01 00:00:00.000000010,1970,398
499,389,Nate Robinson,PG,30,TOT,42,1,591,88,255,...,50,97,20,3,30,76,238,1970-01-01 00:00:00.000000076,1970,431

In [45]:
df.drop('date', axis=1 , inplace=True)

In [46]:
df

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,year,time
0,1,Quincy Acy,PF,24,NYK,68,22,1287,152,331,...,222,301,68,27,22,60,147,398,1970,69
1,2,Jordan Adams,SG,20,MEM,30,0,248,35,86,...,19,28,16,16,7,14,24,94,1970,32
2,3,Steven Adams,C,21,OKC,70,67,1771,217,399,...,324,523,66,38,86,99,222,537,1970,73
3,4,Jeff Adrien,PF,28,MIN,17,0,215,19,44,...,54,77,15,4,9,9,30,60,1970,21
4,5,Arron Afflalo,SG,29,TOT,78,72,2502,375,884,...,220,247,129,41,7,116,167,1035,1970,83
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,387,Brian Roberts,PG,29,CHO,72,10,1330,176,452,...,96,109,162,33,6,57,75,480,1970,459
496,388,Glenn Robinson III,SG-SF,21,TOT,35,1,261,26,67,...,24,39,11,6,1,11,15,73,1970,423
497,388,Glenn Robinson III,SG,21,MIN,25,0,108,8,24,...,10,14,3,3,0,3,5,29,1970,413
498,388,Glenn Robinson III,SF,21,PHI,10,1,153,18,43,...,14,25,8,3,1,8,10,44,1970,398
499,389,Nate Robinson,PG,30,TOT,42,1,591,88,255,...,33,50,97,20,3,30,76,238,1970,431

In [47]:
df.drop(1,inplace=True)

In [48]:
df

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,year,time
0,1,Quincy Acy,PF,24,NYK,68,22,1287,152,331,...,222,301,68,27,22,60,147,398,1970,69
2,3,Steven Adams,C,21,OKC,70,67,1771,217,399,...,324,523,66,38,86,99,222,537,1970,73
3,4,Jeff Adrien,PF,28,MIN,17,0,215,19,44,...,54,77,15,4,9,9,30,60,1970,21
4,5,Arron Afflalo,SG,29,TOT,78,72,2502,375,884,...,220,247,129,41,7,116,167,1035,1970,83
5,5,Arron Afflalo,SG,29,DEN,53,53,1750,281,657,...,159,180,101,32,5,83,108,771,1970,58
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,387,Brian Roberts,PG,29,CHO,72,10,1330,176,452,...,96,109,162,33,6,57,75,480,1970,459
496,388,Glenn Robinson III,SG-SF,21,TOT,35,1,261,26,67,...,24,39,11,6,1,11,15,73,1970,423
497,388,Glenn Robinson III,SG,21,MIN,25,0,108,8,24,...,10,14,3,3,0,3,5,29,1970,413
498,388,Glenn Robinson III,SF,21,PHI,10,1,153,18,43,...,14,25,8,3,1,8,10,44,1970,398
499,389,Nate Robinson,PG,30,TOT,42,1,591,88,255,...,33,50,97,20,3,30,76,238,1970,431

In [49]:
df.loc[[2,15]]

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,year,time
2,3,Steven Adams,C,21,OKC,70,67,1771,217,399,...,324,523,66,38,86,99,222,537,1970,73
15,13,Lou Amundson,PF,32,CLE,12,0,79,4,12,...,15,20,5,1,0,5,11,11,1970,25

In [50]:
df.loc[3:15:2]

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,year,time
3,4,Jeff Adrien,PF,28,MIN,17,0,215,19,44,...,54,77,15,4,9,9,30,60,1970,21
5,5,Arron Afflalo,SG,29,DEN,53,53,1750,281,657,...,159,180,101,32,5,83,108,771,1970,58
7,6,Alexis Ajinça,C,26,NOP,68,8,957,181,329,...,211,315,47,21,51,69,151,443,1970,74
9,8,Cole Aldrich,C,26,NYK,61,16,976,144,301,...,237,338,75,37,65,59,122,338,1970,69
11,10,Lavoy Allen,C,25,IND,63,0,1070,141,299,...,200,323,73,15,42,40,102,315,1970,73
13,12,Al-Farouq Aminu,SF,24,DAL,74,3,1366,147,357,...,228,342,59,70,62,55,137,412,1970,86
15,13,Lou Amundson,PF,32,CLE,12,0,79,4,12,...,15,20,5,1,0,5,11,11,1970,25

In [51]:
df.loc[0:4,['Rk','Player','Pos']]

   Rk         Player Pos
0   1     Quincy Acy  PF
2   3   Steven Adams   C
3   4    Jeff Adrien  PF
4   5  Arron Afflalo  SG

In [52]:
df.iloc[0:4,0:3]

   Rk         Player Pos
0   1     Quincy Acy  PF
2   3   Steven Adams   C
3   4    Jeff Adrien  PF
4   5  Arron Afflalo  SG

In [53]:
js.dropna()

Empty DataFrame
Columns: [url, repository_url, labels_url, comments_url, events_url, html_url, id, node_id, number, title, user, labels, state, locked, assignee, assignees, milestone, comments, created_at, updated_at, closed_at, author_association, active_lock_reason, body, reactions, timeline_url, performed_via_github_app, state_reason, draft, pull_request, name]
Index: []

[0 rows x 31 columns]

In [54]:
js.dropna(axis=1)

,url,repository_url,labels_url,comments_url,events_url,html_url,id,node_id,number,title,...,locked,assignees,comments,created_at,updated_at,author_association,body,reactions,timeline_url,name
0,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/48068,1337895394,I_kwDOAA0YD85Pvqni,48068,Adding obvious type hints to pandas,...,False,[],0,2022-08-13 07:51:42+00:00,2022-08-13 07:51:42+00:00,NONE,For us that uses static type checkers religiou...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,lala
1,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/48067,1337810498,PR_kwDOAA0YD849H3_e,48067,TST: Check index when grouping all columns of ...,...,False,[],1,2022-08-13 00:54:30+00:00,2022-08-13 01:35:56+00:00,CONTRIBUTOR,- [x] closes #32464\r\n- [x] [Tests added and ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,lala
2,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/48066,1337754311,PR_kwDOAA0YD849HsCV,48066,CI: Avoid flaky build errors & show installed ...,...,False,[],0,2022-08-12 22:30:17+00:00,2022-08-12 22:30:17+00:00,MEMBER,xref #47305 & https://github.com/pandas-dev/pa...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,lala
3,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/48065,1337622557,PR_kwDOAA0YD849HQqh,48065,CI/DEPS: Fix timezone test due to pytz upgrade,...,False,[],1,2022-08-12 19:16:03+00:00,2022-08-13 05:57:28+00:00,MEMBER,- [x] [Tests added and passed](https://pandas....,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,lala
4,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/48064,1337620886,PR_kwDOAA0YD849HQTB,48064,BUG: Groupby cumprod nan influences other colu...,...,False,[],0,2022-08-12 19:13:39+00:00,2022-08-12 19:15:07+00:00,MEMBER,- [ ] closes #xxxx (Replace xxxx with the Gith...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,lala
5,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/48063,1337572051,PR_kwDOAA0YD849HFbB,48063,fixed docstring error with pandas.Series.plot....,...,False,[],2,2022-08-12 18:29:42+00:00,2022-08-12 20:12:32+00:00,NONE,When you run python `./scripts/validate_docstr...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,lala
6,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/48062,1337530690,PR_kwDOAA0YD849G8pe,48062,REF: make copy keyword non-stateful,...,False,[],0,2022-08-12 17:42:40+00:00,2022-08-12 18:28:59+00:00,MEMBER,- [ ] closes #xxxx (Replace xxxx with the Gith...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,lala
7,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/48061,1337518944,I_kwDOAA0YD85PuOtg,48061,STYLE: upgrade flake8,...,False,"[{'login': 'jmoro0408', 'id': 66977019, 'node_...",7,2022-08-12 17:28:56+00:00,2022-08-13 09:24:44+00:00,MEMBER,Issue here is:\r\n1. checkout the `create-pr-a...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,lala
8,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/48060,1337411497,I_kwDOAA0YD85Pt0ep,48060,"DOC: ""Creating a Python environment"" in ""Creat...",...,False,[],4,2022-08-12 16:23:26+00:00,2022-08-12 22:19:37+00:00,NONE,### Pandas version checks\r\n\r\n- [X] I have ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,lala
9,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/48058,1337297494,PR_kwDOAA0YD849GKle,48058,REGR: fix reset_index (Index.insert) regressio...,...,False,[],0,2022-08-12 14:41:46+00:00,2022-08-12 14:41:46+00:00,MEMBER,- [x] closes #47071\r\n- [x] [Tests added and ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,lala
10,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/48057,1337202881,PR_kwDOAA0YD849F2qL,48057,REGR: fix regression in scalar setitem with se...,...,False,[],2,2022-08-12 13:22:48+00:00,2022-08-12 16:12:35+00:00,MEMBER,- [x] closes #46268\r\n- [x] [Tests added and ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,lala
11,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/48056,1337153682,I_kwDOAA0YD85Ps1iS,48056,BUG: Rolling operations on groupby with apply ...,...,False,[],0,2022-08-12 12:35:24+00:00,2022-08-12 12:55:31+00:00,NONE,### Pandas version checks\r\n\r\n- [X] I have ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,lala
12,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/48055,1337049837,PR_kwDOAA0YD849FVb2,48055,"Fixed docstring error with style.py, unknown p...",...,False,[],2,2022-08-12 10:48:08+00:00,2022-08-12 22:17:21+00:00,NONE,When you run python` ./scripts/validate_docstr...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,lala
13,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/48052,1336615868,I_kwDOAA0YD85PqyO8,48052,BUG: Weird Behavior of astype(bool) for np.nan,...,False,[],1,2022-08-12 00:19:39+00:00,2022-08-12 16:50:52+00:00,NONE,### Pandas version checks\n\n- [X] I have chec...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,lala
14,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/48051,1336597202,PR_kwDOAA0YD849D1fa,48051,REF: dont alter self in _validate_specification,...,False,[],0,2022-08-11 23:39:17+00:00,2022-08-12 19:47:05+00:00,MEMBER,"Besides being better-practice, this will make ...",{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,lala
15,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/48050,1336561687,PR_kwDOAA0YD849Dt3t,48050,ENH: allow user to infer SAS file encoding; ad...,...,False,[],1,2022-08-11 22:32:14+00:00,2022-08-13 10:38:37+00:00,NONE,- [x] closes #48048 (Replace xxxx with the Git...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,lala
16,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/48049,1336561348,I_kwDOAA0YD85Pqk7E,48049,ENH: Deny/permit configuration for read_pickle...,...,False,[],3,2022-08-11 22:31:40+00:00,2022-08-12 05:52:35+00:00,NONE,### Feature Type\n\n- [X] Adding new functiona...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,lala
17,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/48048,1336561147,I_kwDOAA0YD85Pqk37,48048,ENH: Add option to `read_sas` to infer encodin...,...,False,[],0,2022-08-11 22:31:20+00:00,2022-08-11 22:33:55+00:00,NONE,### Feature Type\r\n\r\n- [X] Adding new funct...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,lala
18,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/48046,1336517413,I_kwDOAA0YD85PqaMl,48046,CI: setuptools 64.0.0 breaks our builds,...,False,[],5,2022-08-11 21:31:51+00:00,2022-08-12 17:40:58+00:00,MEMBER,This is one of the failing builds:\r\n\r\nhttp...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,lala
19,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/48042,1336470117,PR_kwDOAA0YD849DaTk,48042,TST: GH39984 Addition to tests,...,False,[],1,2022-08-11 20:41:51+00:00,2022-08-12 18:15:39+00:00,CONTRIBUTOR,- [x] closes #39984 (Replace xxxx with the Git...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,lala
20,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/48041,1336388945,PR_kwDOAA0YD849DJbw,48041,CI: Include FutureWarning from numpy in npdev ...,...,False,[],4,2022-08-11 19:22:13+00:00,2022-08-12 20:23:09+00:00,MEMBER,- [ ] [Tests added and passed](https://pandas....,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,lala
21,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/48039,1336263864,I_kwDOAA0YD85PpcS4,48039,Unclear error statement printed when `python ....,...,False,[],0,2022-08-11 17:26:02+00:00,2022-08-11 17:26:02+00:00,NONE,When I run `python ./scripts/validate_docstrin...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,lala
22,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/48038,1336003792,I_kwDOAA0YD85PoczQ,48038,ENH: Improve styling compatibility with Latex,...,False,[],15,2022-08-11 13:59:12+00:00,2022-08-12 16:57:20+00:00,NONE,### Feature Type\n\n- [X] Adding new functiona...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,lala
23,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/48035,1335691411,I_kwDOAA0YD85PnQiT,48035,"DOC: ""Committing your code"" in ""Contributing t...",...,False,[],3,2022-08-11 09:20:20+00:00,2022-08-11 10:23:21+00:00,NONE,### Pandas version checks\n\n- [X] I have chec...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,lala
24,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/48034,1335543885,I_kwDOAA0YD85PmshN,48034,BUG: `Series.replace` converts `np.nan` into `...,...,False,[],0,2022-08-11 06:51:33+00:00,2022-08-11 06:56:13+00:00,NONE,### Pandas version checks\r\n\r\n- [X] I have ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,lala
25,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/48033,1335523502,PR_kwDOAA0YD849ARll,48033,ENH: raise_assert_detail only shows the differ...,...,False,[],2,2022-08-11 06:25:09+00:00,2022-08-13 09:32:00+00:00,NONE,- [x] closes #47910 \r\n- [x] [Tests added and...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,lala
26,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/48032,1335375469,I_kwDOAA0YD85PmDZt,48032,BUG: Union of multi index with EA types can lo...,...,False,[],5,2022-08-11 01:46:37+00:00,2022-08-11 16:32:26+00:00,CONTRIBUTOR,### Pandas version checks\r\n\r\n- [X] I have ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,lala
27,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/48030,1335301660,I_kwDOAA0YD85PlxYc,48030,ENH: Add rolling.prod(),...,False,[],3,2022-08-10 23:16:40+00:00,2022-08-11 21:20:47+00:00,NONE,### Feature Type\n\n- [ ] Adding new functiona...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,lala
28,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/48028,1335224577,I_kwDOAA0YD85PlekB,48028,CLN: Refactor groupby's _make_wrapper,...,False,[],2,2022-08-10 21:33:14+00:00,2022-08-10 22:21:29+00:00,MEMBER,Currently pandas implements various groupby op...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,lala
29,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/48027,1335200639,PR_kwDOAA0YD848_OMo,48027,ENH: Support masks in groupby prod,...,False,[],1,2022-08-10 21:05:14+00:00,2022-08-12 19:36:29+00:00,MEMBER,- [x] xref #37493 (Replace xxxx with the Githu...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,lala

In [55]:
c.dropna(thresh=3)

Empty DataFrame
Columns: [A, b, d]
Index: []

In [56]:
c

        A      b   d
0    sdsd    fgf NaN
1     dsf  dffdf NaN
2  fdffdf    dfs NaN
3  fdffdf     df NaN
4      df     df NaN
5      df     df NaN

In [57]:
c.fillna(value=7)

        A      b    d
0    sdsd    fgf  7.0
1     dsf  dffdf  7.0
2  fdffdf    dfs  7.0
3  fdffdf     df  7.0
4      df     df  7.0
5      df     df  7.0

In [58]:
c.fillna(value=df['Rk'].mean())

        A      b           d
0    sdsd    fgf  201.362725
1     dsf  dffdf  201.362725
2  fdffdf    dfs  201.362725
3  fdffdf     df  201.362725
4      df     df  201.362725
5      df     df  201.362725

In [59]:
df.groupby('Age')['G'].mean()

Age
19    47.800000
20    45.000000
21    45.458333
22    40.820513
23    34.985075
24    38.509434
25    50.710526
26    49.047619
27    47.761905
28    49.588235
29    61.846154
30    52.043478
31    45.800000
32    48.722222
33    47.769231
34    55.200000
35    35.500000
36    57.250000
37    44.428571
38    49.875000
Name: G, dtype: float64

In [60]:
df.Age

0      24
2      21
3      28
4      29
5      29
       ..
495    29
496    21
497    21
498    21
499    30
Name: Age, Length: 499, dtype: int64

In [61]:
df.dtypes

Rk          int64
Player     object
Pos        object
Age         int64
Tm         object
G           int64
GS          int64
MP          int64
FG          int64
FGA         int64
FG%       float64
3P          int64
3PA         int64
3P%       float64
2P          int64
2PA         int64
2P%       float64
eFG%      float64
FT          int64
FTA         int64
FT%       float64
ORB         int64
DRB         int64
TRB         int64
AST         int64
STL         int64
BLK         int64
TOV         int64
PF          int64
PTS         int64
year        int64
time        int64
dtype: object

In [62]:
df.year.astype(int)

0      1970
2      1970
3      1970
4      1970
5      1970
       ...
495    1970
496    1970
497    1970
498    1970
499    1970
Name: year, Length: 499, dtype: int32

In [63]:
df.year.str.replace(',','').astype(int)

AttributeError: Can only use .str accessor with string values!

In [ ]:
df.groupby('Age')['G'].sum()